[bot]
nick = mybanbot
host = chat.freenode.net:+6697
data = ~/.bantracker/
sasl = mybanbot:hunter2

#tls_verify = yes
#bindhost   = 192.168.0.64

channels = ##mychannel
chanserv = yes
enforce  = yes
quiet    = q

