[bot]
hostname  = chat.freenode.net
nickname  = myrobot
chans     = ##mychannel
bad       = cn:*.badvpn.com
actions   = MODE {CHAN} +q {MASK};NOTICE ##mychannel-ops :caught {NICK} in {CHAN} for {CN}
account-grace = on
sasl-username = myaccount
sasl-password = hunter2
